{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="listings">
        {% for listing in listings %}
            <div class="listing-card">
                <h3><a href="{% url 'listing' listing.id %}" style="color:black;">{{ listing.title }}</a></h3>
                <p class="listing-context">{{ listing.description }}</p>
                <p class="listing-context">Price: ${{ listing.starting_bid }}</p>
                <p class="text-muted">
                    Listed on {{ listing.created_at|date:"F j, Y" }} by {{ listing.owner.username }}
                </p>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" alt="{{ listing.title }}" class="listing-image">
                {% endif %}
                <a href="{% url 'listing' listing.id %}">View Listing</a>
            </div>
        {% empty %}
            <p>No active listings available.</p>
        {% endfor %}
    </div>
{% endblock %}